.content {
    height: 704px;
    display: flex;
    gap: 48px;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 153px 204px 128px 204px;
}

.cart-form {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 40%;
}

.cart-inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.apply-order {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.apply-order span {
    display: flex;
    place-content: center;
    gap: 4px;
}

.order-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prods-block {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 70%;
}

.prods-label {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.prods {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.prod-card {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 16px 0;
    border-bottom: 1px solid var(--border-disabled);
}

.prod-info {
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding: 4px 0;
    width: 100%;
}

.prod-name-n-price {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.price {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.price img {
    width: 20px;
    height: 20px;
}

/* art-block */
.art-photo-block {
    cursor: pointer;
    position: relative;
    padding: 4px;
    width: 108px;
    padding-bottom: 0;
    overflow: hidden;
}

.art-photo-block img {
    transition: 0.3s ease;
    object-fit: cover;
    /* transform: scale(2.6); */
    aspect-ratio: 1;
    width: 100%;
}

.art-photo-block div {
    background-color: var(--bg-primary-inverse);
    width: 4px;
    height: 4px;
}

.square1,
.square2,
.square3,
.square4 {
    transition: 0.3s ease-in-out;
    opacity: 0;
    position: absolute;
}

.square1 {
    top: 0;
    left: 0;
}

.square2 {
    top: 0;
    right: 0;
}

.square3 {
    bottom: 0;
    left: 0;
}

.square4 {
    bottom: 0;
    right: 0;
}

.art-photo-block:hover .square1,
.art-photo-block:hover .square2,
.art-photo-block:hover .square3,
.art-photo-block:hover .square4 {
    opacity: 100;
}

.art-photo-block:hover img {
    transition: 0.3s ease;
    object-fit: cover;
    /* transform: scale(1); */
}
/* art-block end */